# //npm.pkg.github.com/:_authToken=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
# @ccreusat:registry=https://registry.npmjs.org/
# @ccreusat:registry=https://npm.pkg.github.com
# //registry.npmjs.org/:_authToken=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

@ccreusat:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
legacy-peer-deps=true